<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>Adicionar Produto</title>
</head>
<body>
	 <!-- Example Code -->
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">barra de navegação</font></font></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alternar de navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup" style="">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lar</font></font></a>
            <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Características</font></font></a>
            <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preços</font></font></a>
            <a class="nav-link disabled" aria-disabled="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desabilitado</font></font></a>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- End Example Code -->
	
	<!-- Example Code -->
    
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome do produto</font></font></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descreva o produto</font></font></label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Olhe para mim</font></font></label>
      </div>
      <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
    </form>
    
    <!-- End Example Code -->
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>